/*----------------------------------*\
    Talc
\*----------------------------------*/
/*
 TABLE OF CONTENTS
    01. Variables....................Imported via gulp and can be found in _vars.scss
    02. Utilities......................The general styles like align-center etc.
    03. Components...................Other SCSS components like _dividers.scss, _navigation.scss etc.
    04. Default Tags.................Like <body>, <h1> etc.
*/
/*
	Variables
*/
@import 'vars';
/*
	Utilities
*/
@import 'utilities/spacings';
@import 'utilities/headings';
@import 'utilities/images';
@import 'utilities/links';
@import 'utilities/text';
/*
	Grid
*/
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
/*
	Components
*/
//@import 'components/';
/*
	Globals
*/
@import 'globals';

body,html{
	margin: 0;
	padding: 0;
	background-color: $grey;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	color: $dark-text;
}

caption, .as-caption{
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	color: #4a90e2;
}
table{
	width: 100%;
}

th{
	font-size: 14px;
	font-weight: normal;
	line-height: 2.14;
	color: $light-text;
}

td{
	font-size: 16px;
	font-weight: 500;
	color: $dark-text;
}
header, #main-container, footer{
	margin: 0 auto;
	width: 100%;
	max-width: 620px;
}
#header-container{
	height: 112px;
	padding-top: 16px;
	padding-bottom: 20px;
	text-align: center;
}
#header-logo{
	height: 76px;
	width: auto;
	margin: 0 auto;
	display: block;
}

#main-container{
	background-color: white;
	padding:30px 20px 0px 20px;
	#main-title{
		display: block;
		color: $blue;
		font-size: 36px;
		font-weight: bold;
		text-align: center;
	}
	#main-subtitle{
		display: block;
		font-size: 18px;
		color: #4a4a4a;
		text-align: center;
		font-weight: normal;
		margin: 18px 0 31px 0;
	}
}
#bill-headings{
	th{
		padding-bottom: 5px;
		padding-top: 15px;
	}
	th:not(:first-child){
		width: 88px;
		text-align: center;
	}
	th:first-child{
		padding-left: 10px;
		text-align: left;
	}
	th:last-child{
		padding-right: 10px;
		text-align: right;
	}
}
#table-container{
	background-color: $light-blue;
	padding: 11px 10px 0 10px;
	table{
		border-collapse: collapse;
		margin-bottom: 9px;
	}
	td:not(:first-child){
		vertical-align: top;
		text-align: center;
		padding-top: 7px;
		padding-bottom: 10px;
	}
	td:first-child{
		padding: 7px 0 10px 10px;
	}
	td:last-child{
		text-align: right;
		padding-right: 10px;
	}
	tr:not(:first-child){
		border-bottom: solid 2px #9b9b9b;
	}
	tr:last-child{
		border-bottom: 0px;
	}
	#total-row{
		height: 62px;
		width: 100%;
		border-top: solid 2px #9b9b9b;
		padding: 14px 10px 0 10px;
		.left-box{
			font-size: 20px;
			font-weight: 500;
			color: $blue;
		}
		.right-box{
			font-size: 20px;
			font-weight: bold;
			color: $blue;
		}
	}
}
#update-row{
	width: 100%;
	background-color: $blue;
	height: 30px;
	line-height: 30px;
	color: #ffffff;
	padding: 0 10px;
	margin-bottom: 7px;
	.left-box{
		font-size: 16px;
		font-weight: bold;
	}
	.right-box{
		font-size: 16px;
	}
}
.left-box{
	width: 50%;
	text-align: left;
	float: left;
}
.right-box{
	width: 50%;
	text-align: right;
	float: right;
}
.content-container{
	text-align: left;
	border-bottom: solid 1px #dbdbdb;
	padding-bottom: 16px;
	padding-top: 13px;
	caption{
		margin-top: 2px;
		margin-bottom: 13px;
	}
	th,td{
		width: 50%;
	}
	th{
		line-height: 2.14;
		padding-bottom: 12px;
	}
	td{
		line-height: 26px;
	}
}
#resize-control{
	float: right;
}
#note-container{
	border: 0;
	p{
		font-size: 15.8px;
		font-weight: normal;
		font-style: italic;
		line-height: 1.9;
		color: #848484;
	}
}
#footer-info-row{
	font-size: 13px;
	font-weight: normal;
	line-height: 1.38;
	text-align: center;
	color: #4a4a4a;
	border-bottom: solid 1px #dbdbdb;
	padding-bottom: 11px;
	div{
		margin:10px 2px 0 2px;
		display: inline-block;
	}
	:last-child{
		color: $blue;
	}
}
#footer-logo-row{
	margin-bottom: 70px;
}

#info-table{
	th,td{
		padding: 0;
		line-height: 28px;
	}
}
#payment-container{
	padding-bottom: 0;
	td,th{
		vertical-align: top;
	}
}

@media screen and (max-width: 455px){
	caption,.as-caption{
		font-size: 12px;
	}
	th{
		font-size: 11px !important;
	}
	td{
		font-size: 12px;
	}
	#main-container{
		padding:11px 10px 0px 10px;
		#main-title{
			font-size: 20px;
		}
		#main-subtitle{
			font-size: 12px;
			margin: 10px 10px 13px 10px;
		}
	}
	#bill-headings{
		th{
			padding-bottom: 5px;
			padding-top: 15px;
		}
		th:not(:first-child){
			width: 50px;
		}
		th:nth-child(2){
			width: 30px;
		}
		th:first-child{
			padding-left: 0;
		}
		th:last-child{
			padding-right: 0;
		}
	}
	#table-container{
		padding: 4px 10px 0 10px;
		margin-bottom: 11px;
		table{
			margin-bottom: 18px;
		}
		th{
			padding-top: 0;
			padding-bottom: 0;
		}
		td{
			line-height: 20px;
		}
		td:not(:first-child){
			padding-top: 9px;
			padding-bottom: 4px;
		}
		td:first-child{
			padding: 9px 0 4px 0px;
		}
		td:last-child{
			padding-right: 0;
		}
		#total-row{
			height: 52px;
			width: 100%;
			border-top: solid 2px #9b9b9b;
			padding: 14px 0 0 0;
			.left-box{
				font-size: 18px;
				line-height: 1.11;
				color: $blue;
			}
			.right-box{
				font-size: 18px;
				line-height: 1.11;
				font-weight: bold;
				color: $blue;
			}
		}
	}
	#update-row{
		margin-bottom: 5px;
		.left-box{
			font-size: 12px;
			font-weight: bold;
			white-space: nowrap;
		}
		.right-box{
			font-size: 12px;
		}
	}
	#resize-control{
		float: left;
	}
	.content-container{
		padding: 3px 10px 10px 10px;
		caption{
			margin-top: 2px;
			margin-bottom: 13px;
		}
		td,th{
			line-height: 15px;
		}
	}
	#info-table{
		th,td{
			padding: 0;
			line-height: 18px;
		}
		caption{
			margin-bottom: 10px;
		}
	}
	#payment-container{
		padding-top: 3px;
		caption{
			margin-bottom: 9px;
		}
		td,th{
			vertical-align: top;
		}
	}
	#note-container{
		border: 0;
		padding-top: 6px;
		padding-bottom: 13px;
		p{
			font-size: 12px;
			line-height: 1.67;
		}
	}
	#footer-info-row{
		font-size: 11px;
		font-weight: normal;
		line-height: 1;
		text-align: center;
		color: #4a4a4a;
		border-bottom: solid 1px #dbdbdb;
		padding-bottom: 11px;
		padding-top: 4px;
		div{
			margin:7px 2px 0 2px;
			display: inline-block;
		}
		:last-child{
			color: $blue;
		}
	}
	#header-container{
		height: 65px;
		padding-top: 9px;
		padding-bottom: 10px;
	}
	#header-logo{
		height: 46px;
		width: auto;
		margin: 0 auto;
		display: block;
	}
}
@media screen and (max-width:594px) and (min-width:398px)  {
	#star3{
		display: inline-block !important;
	}
	#star4{
		display: none !important;
	}
}
@media screen and (max-width: 397px) and (min-width:303px){
	#star3{
		display: none !important;
	}
	#star4{
		display: inline-block !important;
	}
}
@media screen and (max-width: 302px) {
	#star2{
		display: none !important;
	}
	#star3{
		display: inline-block !important;
	}
	#star4{
		display: inline-block !important;
	}
}