<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="ToyMail Web V2">
		<meta name="author" content="PovioLabs">
		<title>ToyMail Web V2</title>
		<!-- Custom styles for this template -->
		<link href='#' rel='stylesheet' type='text/css'>
		<!-- build:css stylesheets/main.css -->
		<link href="styles/main.css" rel="stylesheet">
		<!-- endbuild -->
		<link rel="icon" type="image/x-icon" href="#">
	</head>
	<body>
