
<!doctype html>
<html>
<head>
    <title>Roaster receipt</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="scripts/main.js"></script>
</head>
<body>
    <header>
        <div id="header-container">
            <img src="sample1_l.jpg" id="header-logo">
        </div>
    </header>
    <div id="main-container">
        <span id="main-title">Thank you for your order!</span>
        <span id="main-subtitle">You recently ordered from Roaster Tools. We will send you an invoice when your item(s) ship(s) or is out for delivery.</span>
        <div id="table-container">
            <table id="bill-table">
                <caption>ORDER DETAILS</caption>
                <tr id="bill-headings">
                    <th>Product name:</th>
                    <th>Quantity:</th>
                    <th>Unit price:</th>
                    <th>Discount:</th>
                    <th>Net price:</th>
                </tr>
                <tr>
                    <td>Chris’ Party Blend Whole Bean 12oz</td>
                    <td>5</td>
                    <td>$5.00</td>
                    <td>$0.00</td>
                    <td>$25.00</td>
                </tr>
                <tr>
                    <td>Chris’ Party Blend Whole Bean 12oz</td>
                    <td>5</td>
                    <td>$5.00</td>
                    <td>$0.00</td>
                    <td>$25.00</td>
                </tr>
            </table>
            <div id="total-row">
                <div class="left-box">
                    <span>Total:</span>
                </div>
                <div class="right-box">
                    <span>$49.75</span>
                </div>
            </div>
        </div>
        <div id="update-row">
            <div class="left-box">
                <span>Need to update the order?</span>
            </div>
            <div class="right-box">
                <span>Call: 118-546-992-338</span>
            </div>
        </div>
        <div class="content-container">
            <table id="info-table" class="horizontal">
                <caption>ORDER INFO</caption>
                <tr>
                    <th>Order number:</th>
                    <td>DN236</td>
                </tr>
                <tr>
                    <th>Order date:</th>
                    <td>sample</td>
                </tr>
                <tr>
                    <th>Expected ship date:</th>
                    <td>sample</td>
                </tr>
                <tr>
                    <th>Customer’s name:</th>
                    <td>sample</td>
                </tr>
            </table>
        </div>
        <div class="content-container">
            <table id="shipping-table">
                <caption>SHIPPING & BILLING</caption>
                <tr>
                    <th>Shipping to:</th>
                    <th>Billed to:</th>
                </tr>
                <tr>
                    <td>123 Main Street</td>
                    <td>PO Box 123</td>
                </tr>
                <tr>
                    <td>Attn: Juan Valdez</td>
                    <td>Attn: Juanita Valdez</td>
                </tr>
                <tr>
                    <td>Portland, OR 97212</td>
                    <td>Portland, OR 97212</td>
                </tr>
            </table>
        </div>
        <div class="content-container" id="payment-container">
            <table id="payment-table" class="horizontal">
                <caption>PAYMENT METHOD</caption>
                <tr>
                    <th>Paid by:</th>
                    <td>Mastercard, ***2345</td>
                </tr>
            </table>
        </div>
        <div class="content-container" id="note-container">
            <span class="as-caption">ORDER NOTE</span>
            <p>Hey Juan,<br>
                yes, we can include samples of our Colombian Coffee for you. Hope the kids are doing well, best of luck on the next climb!<br><br>
                John D. Williams</p>
        </div>
    </div>
    <footer>
        <div id="footer-info-row">
            <div>Roaster Corp., 123 Main St.</div>
            <div id="star1">*</div>
            <div>Portland, Oregon</div>
            <div id="star2">*</div>
            <div>97200</div>
            <div id="star3">*</div>
            <div>(503) 234-5678</div>
            <div id="star4">*</div>
            <div>orders@roasters.com</div>
        </div>
        <div id="footer-logo-row">

        </div>

    </footer>
    <div id="resize-control"></div>

</body>
</html>
